﻿<div class="text-center">

    
    <h1 class="card-text mb-3">INQUIRY CONFIRMATION</h1>

    <p>We have recieved your inquiry and someone from our team will contact you shortly!</p>

    <img src="/images/Thank-You-message_edited-1.jpg" width="80%" />
</div>