@using BaumarktSystem.Web.ViewModels.Home
@model ProductIndexViewModel



@{
    ViewData["Title"] = "Create New Product";
}

<div class="container mt-4">
    <h2 class="text-info mb-3">Create New Product</h2>
    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="Name">Full Name:</label>
            <input type="text" class="form-control" id="Name" name="Name" required />
        </div>
        <div class="form-group">
            <label for="ShortProductDescription">Short Description:</label>
            <input type="text" class="form-control" id="ShortProductDescription" name="ShortProductDescription" required />
        </div>
        <div class="form-group">
            <label for="Description">Description:</label>
            <textarea class="form-control" id="Description" name="Description" rows="5" required></textarea>
        </div>
        <div class="form-group">
            <label for="Price">Price:</label>
            <input type="number" class="form-control" id="Price" name="Price" step="0.01" required />
        </div>
        <div class="form-group">
            <label for="CategoryId">Category:</label>
            <select class="form-control" id="CategoryId" name="CategoryId" required>
                <option value="">Select Category</option>
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="ApplicationTypeId">Application Type:</label>
            <select class="form-control" id="ApplicationTypeId" name="ApplicationTypeId" required>
                <option value="">Select Application Type</option>
                @foreach (var applicationType in Model.ApplicationTypes)
                {
                    <option value="@applicationType.Id">@applicationType.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="ImageUrl">Image:</label>
            <input type="file" class="form-control-file" id="ImageUrl" name="ImageUrl" required />
        </div>

        <button type="submit" class="btn btn-primary">Save Product</button>
    </form>
</div>
