@using BaumarktSystem.Web.ViewModels.Home;
    using BaumarktSystem.Web.ViewModels.ApplicationType;
@model ApplicationTypeIndexViewModel;

@{
    ViewData["Title"] = "Details Application Type";
}

<div class="container mt-4">
    <h2 class="text-info mb-3">Category Details</h2>
    <dl class="row">
        <dt class="col-sm-2">Id:</dt>
        <dd class="col-sm-10">@Model.Id</dd>

        <dt class="col-sm-2">Name:</dt>
        <dd class="col-sm-10">@Model.Name</dd>        

        <dt class="col-sm-2">Creator:</dt>
        <dd class="col-sm-10">@Model.Creator</dd>

        <dt class="col-sm-2">Created On:</dt>
        <dd class="col-sm-10">@Model.CreatedOn.ToString("yyyy-MM-dd HH:mm:ss")</dd>
    </dl>
    <div class="text-center">
        <a asp-action="AllApplicationType" class="btn btn-primary">Back to List</a>
    </div>
</div>




